# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables (SECRETS)
.env

# MLflow
mlruns/
*.db

# Data (raw + large files)
data/

# Models (optional)
models/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store